{% extends "base.html" %}

{% block title %}
    Agendamentos
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h2>Agendamentos</h2></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'medicos:agendar_consulta' %}" class="btn btn-primary input-group-text">
                Agendar Atendimento
            </a>
        </div>
    </div>
    <form method="GET">
        <div style="display: flex; margin: 20px 0 20px 0;">
            <input type="text" class="form-control" placeholder="Buscar especialista, cliente ou dia" name="search"
                   id="search">
            <button class="btn btn-primary input-group-text" type="submit">Buscar</button>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Especialista
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dia
            </th>
            <th>
                Horário
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        {% for consulta in object_list %}
            <tr>
                <td>
                    <a href=""># {{ consulta.pk }}</a>
                </td>
                <td>
                    {{ consulta.medico }}
                </td>
                <td>
                    {{ consulta.cliente }}
                </td>
                <td>
                    {{ consulta.dia|date:"d/m/Y" }}
                </td>
                <td>
                    {{ consulta.get_horario_display }}
                </td>
                <td>
                    <a href="{% url 'medicos:agendar_consulta_atualizar' consulta.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'medicos:agendar_consulta_deletar' consulta.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}