{% extends "base.html" %}

{% block title %}
    Caixa
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h2>Caixa</h2></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'medicos:caixa_cadastro' %}" class="btn btn-primary input-group-text">
                Adicionar Transação
            </a>
            <a href="{% url 'medicos:download_xlsx' %}?inicio={{ data_inicio }}&fim={{ data_fim }}" class="btn btn-primary">Download XLSX</a>
        </div>
    </div>

    {% if total > 0 %}
        <h2 style="color: green;">Saldo: R$ {{ total }}</h2>
    {% else %}
        <h2 style="color: red;">Saldo: R$ {{ total }}</h2>
    {% endif %}


    <form method="GET" style="display: flex; gap:1rem;">
        <div>
            <h3>
                Data inicial:
                {% if data_inicio %}
                    {{ data_inicio }}
                {% endif %}
            </h3>
            <div style="display: flex; margin: 20px 0 20px 0;">
                <input type="date" class="form-control" name="inicio"
                       id="inicio">
            </div>
        </div>

        <div>
            <h3>
                Data final:
                {% if data_fim %}
                     {{ data_fim }}
                {% endif %}
            </h3>
            <div style="display: flex; margin: 20px 0 20px 0;">
                <input type="date" class="form-control" placeholder="Buscar data" name="fim"
                       id="fim">
                <button class="btn btn-primary input-group-text" style="margin-left: 10px;" type="submit">Buscar</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Tipo
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        {% for caixa in object_list %}
            <tr>
                <td>
                    {{ caixa.data|date:"d/m/Y" }}
                </td>
                <td>
                    {{ caixa.get_tipo_display }}
                </td>
                <td>
                    {{ caixa.descricao }}
                </td>

                {% if caixa.tipo == 'E' %}
                    <td style="color: green;">R$ {{ caixa.valor }}</td>
                {% else %}
                    <td style="color: red;">R$ {{ caixa.valor }}</td>
                {% endif %}

                <td>
                    <a href="{% url 'medicos:caixa_atualizar' caixa.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'medicos:caixa_deletar' caixa.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}