{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
    Caixa
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h1>Caixa</h1></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'caixa:caixa_cadastro' %}" class="btn btn-primary input-group-text"
               title="Adicionar Movimentação">
                <i class="fas fa-plus"></i> Adicionar
            </a>
            <a href="{% url 'caixa:download_xlsx' %}?{% if data_inicio %}inicio={{ data_inicio }}{% endif %}{% if data_fim %}&fim={{ data_fim }}{% endif %}"
               class="btn btn-primary" title="Baixar Movimentações">
                <i class="fas fa-download"></i>Download
            </a>
        </div>
    </div>

    {% if total_caixa > 0 %}
        <h2>Saldo: <span style="color: green;">{{ total_caixa }}</span> kg</h2>
    {% elif total_caixa < 0 %}
        <h2>Saldo: <span style="color: red;">{{ total_caixa }}</span> kg</h2>
    {% else %}
        <h2>Saldo: {{ total_caixa }} kg</h2>
    {% endif %}


    <form method="GET" style="display: flex; gap:1rem;">
        <div>
            <h3>
                Data inicial:
                {% if data_inicio %}
                    {{ data_inicio }}
                {% endif %}
            </h3>
            <div style="display: flex; margin: 20px 0 20px 0;">
                <input type="date" class="form-control" name="inicio"
                       id="inicio">
            </div>
        </div>

        <div>
            <h3>
                Data final:
                {% if data_fim %}
                    {{ data_fim }}
                {% endif %}
            </h3>
            <div style="display: flex; margin: 20px 0 20px 0;">
                <input type="date" class="form-control" placeholder="Buscar data" name="fim"
                       id="fim">
                <button class="btn btn-primary input-group-text" style="margin-left: 10px;" type="submit">Buscar
                </button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                DATA
            </th>
            <th>
                HISTÓRICO
            </th>
            <th>
                QUANTIDADE KG
            </th>
            <th>
                PREÇO UNITÁRIO
            </th>
            <th>
                TOTAL
            </th>
            <th>
                OPÇÕES
            </th>
        </tr>
        </thead>
        <tbody>
        {% for caixa in object_list %}
            <tr>
                <td>
                    <p>{{ caixa.data }}</p>
                </td>
                <td>
                    <p>{{ caixa.descricao }}</p>
                </td>
                {% if caixa.quantidade_kg %}
                    <td>
                        <p>{{ caixa.quantidade_kg|make_positive }}</p>
                    </td>
                {% else %}
                    <td>
                        <p>Null</p>
                    </td>
                {% endif %}
                {% if caixa.valor_kg %}
                    <td>
                        <p>R$ {{ caixa.valor_kg }}</p>
                    </td>
                {% else %}
                    <td>
                        <p>Null</p>
                    </td>
                {% endif %}
                {% if caixa.valor_total %}
                    <td>
                        <p>R$ {{ caixa.valor_total }}</p>
                    </td>
                {% else %}
                    <td>
                        <p>Null</p>
                    </td>
                {% endif %}
                <td>
                    <a href="{% url 'caixa:caixa_imprimir' caixa.id %}" class="text-success"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-print" title="Imprimir Recibo"></i>
                    </a>
                    <a href="{% url 'caixa:caixa_atualizar' caixa.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit" title="Atualizar Movimentação"></i>
                    </a>
                    <a href="{% url 'caixa:caixa_deletar' caixa.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt" title="Deletar Movimentação"></i>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}