{% extends "base.html" %}
{% load static %}
{% block title %}
    Produtores
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h2>Produtores</h2></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'clientes:cliente_cadastro' %}" title="Cadastrar Produtor"
               class="btn btn-primary input-group-text">
                Cadastrar
            </a>
        </div>
    </div>
    <form method="GET">
        <div style="display: flex; margin: 20px 0 20px 0;">
            <input type="text" class="form-control" placeholder="Buscar cliente" name="search"
                   id="search">
            <button class="btn btn-primary input-group-text" type="submit">Buscar</button>
        </div>
    </form>

    <div style="display: flex; align-items: center">
        <h2 style="display: flex;">
            {% if total_quantidade_kg > 0 %}
                Saldo:&nbsp;<span style="color: green;" id="saldo">{{ total_quantidade_kg }}</span>
            {% elif total_quantidade_kg < 0 %}
                Saldo:&nbsp;<span style="color: red;" id="saldo">{{ total_quantidade_kg }}</span>
            {% else %}
                Saldo:&nbsp;<span id="saldo">{{ total_quantidade_kg }}</span>
            {% endif %}
            &nbsp;kg
        </h2>
        <img style="cursor: pointer; margin-left: 10px; margin-top: 20px" src="{% static 'image/hidden.png' %}" width="20px" height="20px"
             id="eyeSvg" alt=""
             data-original="{% static 'image/hidden.png' %}"
             data-original2="{% static 'image/open.svg' %}"
             onclick="eyeClick()"
        />
    </div>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        {% for cliente in object_list %}
            <tr>
                <td>
                    <p> {{ cliente.pk }}</p>
                </td>
                <td>
                    <p>{{ cliente.nome }}</p>
                </td>
                <td>
                    <p>{{ cliente.telefone }}</p>
                </td>
                <td>
                    <a href="{% url 'clientes:transacao_cadastro' cliente.id %}" class="mr-1 text-success"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-plus" title="Adicionar Movimentação"></i>
                    </a>
                    <a href="{% url 'clientes:transacao_lista' cliente.id %}" class="mr-1 text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-list" title="Visualizar Movimentações"></i>
                    </a>
                    <a href="{% url 'clientes:cliente_atualizar' cliente.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit" title="Editar Produtor"></i>
                    </a>
                    <a href="{% url 'clientes:cliente_deletar' cliente.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt" title="Deletar Produtor"></i>
                    </a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        var total_quantidade_kg_visible = true;

        function toggleSaldo() {
            total_quantidade_kg_visible = !total_quantidade_kg_visible;
            updateSaldoVisibility();
        }

        function updateSaldoVisibility() {
            var saldoElement = document.getElementById("saldo");
            var iconElement = document.getElementById("icon");

            if (total_quantidade_kg_visible) {
                saldoElement.style.display = "block";
                iconElement.classList.remove("fa-eye-slash");
                iconElement.classList.add("fa-eye");
            } else {
                saldoElement.style.display = "none";
                iconElement.classList.remove("fa-eye");
                iconElement.classList.add("fa-eye-slash");
            }
        }
    </script>
{% endblock %}