{% extends "base.html" %}

{% block title %}
   Procedimentos
{% endblock %}

{% block container %}
<h2>Procedimentos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Procedimento
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        {% for especialidade in object_list %}
        <tr>
            <td>
                <a href=""># {{ especialidade.pk }}</a>
            </td>
            <td>
                {{ especialidade.nome }}
            </td>
            <td>
                    <a href="{% url 'medicos:especialidade_atualizar' especialidade.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'medicos:especialidade_deletar' especialidade.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}