{% extends "base.html" %}

{% block title %}
    Profissionais
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h2>Profissionais</h2></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'medicos:medico_cadastro' %}" class="btn btn-primary input-group-text">
                Cadastrar
            </a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Opções
            </th>
        </tr>
        </thead>
        <tbody>
        {% for medico in object_list %}
            <tr>
                <td>
                    <a href=""># {{ medico.pk }}</a>
                </td>
                <td>
                    {{ medico.nome }}
                </td>
                <td>
                    {{ medico.telefone }}
                </td>
                <td>
                    <a href="{% url 'medicos:medico_atualizar' medico.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'medicos:medico_deletar' medico.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}