{% extends "base.html" %}

{% block title %}
    Relatórios
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-8"><h2>Relatórios</h2></div>
        <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
            <a href="{% url 'medicos:relatorio_cadastro' %}" class="btn btn-primary input-group-text">
                Cadastrar
            </a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Relatório
            </th>
        </tr>
        </thead>
        <tbody>
        {% for relatorio in object_list %}
            <tr>
                <td>
                    {{ relatorio.data }}
                </td>
                <td style="max-width: 700px; word-wrap:break-word;">
                    {{ relatorio.relatorio }}
                </td>
                <td>
                    <a href="{% url 'medicos:relatorio_atualizar' relatorio.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'medicos:relatorio_deletar' relatorio.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}