{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
    Movimentações
{% endblock %}

{% block container %}

    {% if object_list %}
        {% with transacao=object_list.first %}
            <div class="row">
                <div class="col-md-8"><h2>Movimentações de {{ transacao.cliente }}</h2></div>
                <div class="col-md-4 text-right" style="margin-top: 21px; margin-bottom: 10.5px;">
                    <a href="{% url 'clientes:transacao_cadastro' transacao.cliente.id  %}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Adicionar Movimentação
                    </a>
                </div>
            </div>
        {% endwith %}


    <form method="GET">
        <div style="display: flex; margin: 20px 0 20px 0;">
            <input type="text" class="form-control" placeholder="Buscar descrição" name="search"
                   id="search">
            <button class="btn btn-primary input-group-text" type="submit">Buscar</button>
        </div>
    </form>

    {% if total_soma > 0 %}
        <h2>Saldo: <span style="color: green;">{{ total_soma }}</span> kg</h2>
    {% else %}
        <h2>Saldo: <span style="color: red;">{{ total_soma }}</span> kg</h2>
    {% endif %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                DATA
            </th>
            <th>
                HISTÓRICO
            </th>
            <th>
                TIPO
            </th>
            <th>
                QUANTIDADE KG
            </th>
             <th>
                PREÇO UNITÁRIO
            </th>
            <th>
                TOTAL
            </th>
            <th>
                OPÇÕES
            </th>
        </tr>
        </thead>
        <tbody>
        {% for transacao in object_list %}
            <tr>
                <td>
                    <p>{{ transacao.data }}</p>
                </td>
                <td>
                    <p>{{ transacao.descricao }}</p>
                </td>
                {% if transacao.tipo == 'E' %}
                    <td>
                        <p style="color: green">Entrada</p>
                    </td>
                {% else %}
                    <td>
                        <p style="color: red">Saída</p>
                    </td>
                {% endif %}
                <td>
                    <p>{{ transacao.quantidade_kg|make_positive }}</p>
                </td>
                {% if transacao.tipo == 'E' %}
                    <td>
                    </td>
                    <td>
                    </td>
                {% else %}
                    <td>
                        <p>R$ {{ transacao.valor_kg }}</p>
                    </td>
                    <td>
                        <p>R$ {{ transacao.valor_total|make_positive }}</p>
                    </td>
                {% endif %}
                <td>
                    <a href="{% url 'clientes:transacao_atualizar' transacao.id %}" class="text-primary"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-edit" title="Atualizar Movimentação"></i>
                    </a>
                    <a href="{% url 'clientes:transacao_deletar' transacao.id %}" class="mr-1 text-danger"
                       style="padding-left: 10px; text-decoration: none;">
                        <i class="fas fa-trash-alt" title="Deletar Movimentação"></i>
                    </a>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}